<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="footer-content text-center">
                    <p>&copy; Electronthemes. All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/highlight.min.js"></script>
<script src="assets/js/anchor.js"></script>
<script src="assets/js/toc.js"></script>
<script src="assets/js/zoom.js"></script>
<script src="assets/js/main.js"></script>
<script type="text/javascript">
    window.$crisp = []
    window.CRISP_WEBSITE_ID = '7c1f51d7-de7b-4921-a29b-5fd47190c9e4'
    ;(function() {
        d = document
        s = d.createElement('script')
        s.src = 'https://client.crisp.chat/l.js'
        s.async = 1
        d.getElementsByTagName('head')[0].appendChild(s)
    })()
</script>
