<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="footer-content text-center">
                    <p>&copy; Electronthemes. All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/highlight.min.js"></script>
<script src="assets/js/anchor.js"></script>
<script src="assets/js/toc.js"></script>
<script src="assets/js/zoom.js"></script>
<script src="assets/js/main.js"></script>
