<div class="header-area">
    <nav class="navbar navbar-expand-lg fixed-top navbar-light">
        <a class="navbar-brand" href="/"><img src="assets/images/common/electronthemes.png" alt="electronthemes" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        HTML
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="zenifer">Zenifer</a>
                        <a class="dropdown-item" href="cryptocoin">Cryptocoin</a>
                        <a class="dropdown-item" href="newsportal">Newsportal</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ghost
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="abstract">Abstract</a>
                        <a class="dropdown-item" href="delas">Delas</a>
                        <a class="dropdown-item" href="menia">Menia</a>
                        <a class="dropdown-item" href="shosi">Shosi</a>
                        <a class="dropdown-item" href="white">White</a>
                        <a class="dropdown-item" href="writter">Writter</a>
                        <a class="dropdown-item" href="newsportal-ghost">Newsportal</a>
                    </div>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" id="navbarSearch">Plugins</a>
                    <div class="dropdown-menu" aria-labelledby="navbarSearch">
                        <a class="dropdown-item" href="ghost-finder">Ghost Finder</a>
                    </div>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://electronthemes.com/themes/">Themes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://electronthemes.com/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://electronthemes.com/contact/">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</div>