<a href="{{page.buy}}">
    <img src="/assets/images/{{page.thumbnail}}" />
</a>

When you purchase our theme. You can download Theme files from Downloads page. Navigate through your purchased items.


- Download your purchased item and you will get the `theme-file.zip` into the theme file. You can use that file for your work.

- Documentation - Contain theme documentation file.

- Licensing Folder - Contain all licensing info files.

- `development-file`. I made this using gulp and scss. If you want to use gulp, you can run.

<a class="btn btn-secondary" target="_blank" href="{{page.demo}}">
    Live Preview
</a>
<a class="btn btn-primary" target="_blank" href="{{page.buy}}">
    Buy Now
</a>
<br><br>


## Free Theme Support

<div class="tip custom-block">
    <p class="custom-block-title">Attention Please</p>
    <p>All of our products come with free support and currently we handle all support questions through Our Support <a href="https://www.facebook.com/groups/electronthemes/" target="_blank">Facebook
    Group</a> <u>[recommended for fast support]</u>.</p>
    <hr>
    <p>You can also mail us for support <a href="mailto:electronthemes@gmail.com​">electronthemes@gmail.com​</a></p>
</div>
<br>
### Support includes

- Responding to questions or problems regarding the item and its features
- Fixing bugs and reported issues
- Feature Request
- Providing updates to ensure compatibility with new software versions
### Item support does not include

- Customization and installation services. ( You can ask [paid support](https://electronthemes.com/contact/) )
- Support for third party software and plug-ins
