button, a{
    &.btn{
        display: inline-block;
        font-size: 1.2rem;
        color: $white;
        background-color: $green;
        padding: 0.8rem 1.6rem;
        border-radius: 4px;
        transition: background-color 0.1s ease;
        box-sizing: border-box;
        border-color: $green;
        &.btn-secondary{
            background-color: $secondary;
            border-color: $secondary;
            &:hover{
                background-color: darken($secondary, 15%);
                border-color: darken($secondary, 15%);
            }
        }
        &:hover{
            background-color: $light-green;
            color: $white;
        border-color: $green;
        }
    }
}