.header-area {
    .navbar {
        border-bottom: 1px solid $border;
        background-color: $white;
        ul li {
            margin-bottom: 0;
        }
    }
}
h1#title{
    font-size: 30px;
}
